<!DOCTYPE html>
<html>
  <head>
    <title>segunda pagina</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style> body{background-color: cadetblue;}</style>
  </head>
  <body>
    <p>
         Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates, quia? Nemo culpa omnis incidunt eius dolorem totam a provident repudiandae fugit harum corporis, dolore optio qui consequatur, laudantium autem vero.
    </p>

  </body>
</html>
